extends ../layout.pug

block content
  div(class="d-flex flex-row content mx-auto")
    div(class="profile-container")
      include ../includes/profile.pug
    div(class="flex-fill d-flex flex-row flex-wrap")
      if videos
        each video in videos
          div(class="card video-element")
            div(class="card-body fs-2")= video.title
            div(class="card-body")= video.category
            div(class="card-body")= video.description
            div(class="card-body")
              a(href=`/video/stream/${video._id}`)
                img(class="card-img" src=`/videos/thumbnails/${video.thumbnail}`, alt="Video Thumbnail")

